* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: space-around;
    padding: 15px;
    margin: 3% auto;
    border-style: 1px solid rgb(59, 226, 248);

}
.likeIt {
    padding: 15px;
    margin: auto;

}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 5% auto;
    width: 90%;
    border: 2px solid #e7e7e7;
    box-shadow: 0 4px 8px 0 rgba(231, 35, 9, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

.commentInput {
    font-size:20px;
    border-radius: 5px;

}

.commentBtn {
    background-color:rgb(63, 63, 228);
    color: white;
    padding: 10px 7px;
    text-decoration: none;
    font-size: 15px;  
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(77, 241, 220, 0.24),0 17px 50px 0 rgba(187, 23, 23, 0.19);
    outline: none;
}

.commentList { 
    flex-direction: column;
    align-items: stretch;
    padding: 0px 10px;
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(231, 35, 9, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.deleteButton {
    background-color:rgb(236, 48, 48);
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 15px;  
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(77, 241, 220, 0.24),0 17px 50px 0 rgba(187, 23, 23, 0.19);
    outline: none;
    margin: 5px 42%;  
}

.photo {
    display: flex;
    margin: auto;
    align-self: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding-top: 10px;
}

.emailUser { 
    padding: 5px 0px;
    margin: auto;
    align-self: center;
    text-align: center;
    font-size: 18px;
    
}
.commentOutput {
    word-wrap: break-word;
    color: black;
    padding: 5px 0px;
    margin: auto; 
    align-self: center;
    text-align: center;
    font-size:20px;
    
}